body {
  background-color: #EEF3AD;
}

h1 {
  color: #516091;
  margin-top: 15px;
}

p{
  color: #516091;
}

li{
  color: #516091;
}
#menu {
  margin: 0 auto;
  background-color: #EEF3AD;
  padding: 8px;
}

.main_menu {
  padding: 10px 0 10px 0;
  text-align: center;
  line-height: 16px;
  background-color: #516091;
}

ul.main_menu{
  margin-top: 15px;
}

.main_menu li {
  padding: 0 30px 0 30px;
  display: inline-block;
  font-size: 20px;
}

.main_menu a {
  text-decoration: none;
  color:#EEF3AD;
  padding: 10px;
  font-variant: small-caps;
}

.main_menu a:hover {
  color:#ffffff;
}

#content{
  margin-top: 15px;
}

#contact{
  margin-top: 20px;
  color: #516091;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #516091;
  color: #EEF3AD;
  text-align: center;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
