{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/MyStyle.css' %}">
</head>
<div id="menu">
  <nav>
    <ul class="main_menu">
      <li><a href="{% url 'homepage:home' %}" class="nav-link">home</a></li>
      <li><a href="{% url 'homepage:profile' %}" class="nav-link">profile</a></li>
      <li><a href="{% url 'homepage:experiences' %}" class="nav-link">experiences</a></li>
      <li><a href="{% url 'homepage:skills' %}" class="nav-link">skills</a></li>
      <li><a href="{% url 'homepage:jadwal' %}" class="nav-link">schedule</a></li>
      <li><a href="{% url 'homepage:contact' %}" class="nav-link">contact</a></li>
    </ul>
  <nav>
</div>

<body>
  {% block content %}
  {% endblock %}
</body>

<div>
  <p class="footer">Made with Luv by Arkansas~</p>
</div>
