{% extends "Base.html" %}
{% load static %}

{% block content %}
<div id="content" class="container">
  <div class="row">
    <div class="col  text-center">
      <h1>You can hit me on</h1>
    </div>
  </div>
  <div id="contact" class="row">
    <div class="col">
        <a href="https://www.linkedin.com/in/arkan-sabilla-asfa-bab201113/">
        <img src="{% static 'images/031-linkedin.png' %}"  width="100px" height="100px">
    </div>
    <div class="col">
      <a href="https://open.spotify.com/user/21qslemime5anjp43hkrp2scy">
      <img src="{% static 'images/019-spotify.png' %}"  width="100px" height="100px">
    </div>
    <div class="col">
      <a href="https://steamcommunity.com/id/arkansas0315/">
      <img src="{% static 'images/steam-logo.png' %}"  width="100px" height="100px">
    </div>
  </div>
  <div id="contact" class="row">
    <div class="col">
        <a href="https://web.facebook.com/arkan.asfa">
        <img src="{% static 'images/045-facebook.png' %}"  width="100px" height="100px">
    </div>
    <div class="col">
      <a href="https://twitter.com/arkansasfa">
      <img src="{% static 'images/013-twitter-1.png' %}"  width="100px" height="100px">
    </div>
    <div class="col">
      <a href="https://www.instagram.com/arkan_sas/">
      <img src="{% static 'images/034-instagram.png' %}"  width="100px" height="100px">
    </div>
  </div>
</div>
{% endblock %}
