{% extends "Base.html" %}
{% load static %}

{% block content %}
  <div class="row">
      <div class="col">
        <h1>
          Education
       </h1>
        <p>
          <li>SDIT Al-Manar           2004-2010</li>
          <li>SMPN 1 Bekasi           2010-2013</li>
          <li>SMAN 1 Bekasi           2013-2016</li>
          <li>Universitas Indonesia   2016-Now</li>
       </p>
     </div>

     <div class="col">
       <h1>
         Organization
      </h1>
       <p>
         <li>Chairman of Cyber Community SMAN 1 Bekasi 2014-2015</li>
         <li>Staff of BEM Fasilkom UI 2019</li>
      </p>
    </div>
    <div class="col">
      <h1>
        Volunteer
     </h1>
      <p>
        <li>Staff of Cyber Competition SMAN 1 Bekasi</li>
        <li>Staff of PEMIRA IKM Fasilkom UI 2018</li>
        <li>Liaison Officer of Wisuda Ganjil</li>
        <li>Liaison Officer of Wisuda Genap</li>
        <li>Vice Project Officer of PEMIRA IKM Fasilkom UI 2019</li>
     </p>
   </div>
</div>
{% endblock %}
