{% extends "Base.html" %}

{% block content %}
  <div id="content" class="container">
    <div class="row">
      <div class="col  text-center">
        <h1>Hello, this is <mark>Arkansas</mark> Website</h1>
      </div>
    </div>
  </div>
{% endblock %}
