{% extends "Base.html" %}

{% block content %}
<form method="POST">
  {% csrf_token %}

  <div id='isiJadwal'>
      <form method='POST'>

          {% csrf_token %}

          {{ form_jadwal.non_field_errors }}

          <div class="form-group">
              {{form_jadwal.kegiatan.errors }}
              <p style="text-align: left">{{form_jadwal.kegiatan.label}} </p>
              <div>{{form_jadwal.kegiatan}}</div>
          </div>

          <div class="form-group">
              {{form_jadwal.kategori.errors }}
              <p style="text-align: left">{{form_jadwal.kategori.label}} </p>
              <div>{{form_jadwal.kategori}}</div>
          </div>

          <div class="form-group">
              {{form_jadwal.tempat.errors }}
              <p style="text-align: left">{{form_jadwal.tempat.label}} </p>
              <div>{{form_jadwal.tempat}}</div>
          </div>

          <div class="form-group">
              {{form_jadwal.tanggal.errors }}
              <p style="text-align: left">{{form_jadwal.tanggal.label}} </p>
              <div>{{form_jadwal.tanggal}}</div>
          </div>

          <div class="form-group">
              {{form_jadwal.waktu.errors }}
              <p style="text-align: left">{{form_jadwal.waktu.label}} </p>
              <div>{{form_jadwal.waktu}}</div>
          </div>


          <button class="btn btn-light" type="submit">Daftarkan</button>
      </form>
</div>


{% endblock %}
