{% extends "Base.html" %}

{% block content %}
<table class="table">
  <thead>
    <tr class="table-light">
      <th scope="col">No.</th>
      <th scope="col">Kegiatan</th>
      <th scope="col">Kategori</th>
      <th scope="col">Tempat</th>
      <th scope="col">Tanggal</th>
      <th scope="col">Waktu</th>
      <th scope="col">Hapus</th>
    </tr>
  </thead>
  <tbody>
    {% for list in list_jadwal %}
    <tr class="table-light">
      <td>{{ forloop.counter }}</td>
      <td>{{list.kegiatan}}</td>
      <td>{{list.kategori}}</td>
      <td>{{list.tempat}}</td>
      <td>{{list.tanggal}}</td>
      <td>{{list.waktu}}</td>
      <td><a class='btn btn-danger' href="{% url 'homepage:delete' delete_id=list.id %}">Delete</a>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div id="wrapper">
  <a href="{% url 'homepage:isijadwal' %}" class="btn btn-light" role="button">Buat Jadwal</a>
</div>
{% endblock %}
