{% extends "Base.html" %}
{% load static %}

{% block content %}
  <div id="content" class="container">
    <div class="row">
      <div class="col">
        <img src="{% static 'images/apaini.jpg' %}" width="350px" height="350px">
      </div>
      <div class="col">
        <p>
          Name: Arkan Sabilla Asfa
        </p>
        <p>
          Nickame: Arkansas
        </p>
        <p>
          Birth date: 15 March 1998
        </p>
        <p>
          Major: Information Systems, Faculty of Computer Science, Universitas Indonesia
        </p>
        <p>
          Hobbies:
          <li>Reading</li>
          <li>Writing</li>
          <li>Sleeping</li>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h1>
          About Me
       </h1>
     </div>
   </div>
   <div class="row">
     <div class="col text-justify">
       <p>
         A young man with a dream as high as blue sky. Have high interest in social politic, philosophy, and computer. Not so genius, but always hardworking when doing something.
         Have cheerful personality and always trying to share happiness to other people. Love to learn something new especially things that related to my interests.
         Hate defeat and always blame myself if do something lower than my expectations.
      </p>
    </div>
  </div>
  </div>
{% endblock %}
