{% extends "Base.html" %}
{% load static %}

{% block content %}
  <div id="content" class="container">
    <div class="row">
      <div class="col">
        <h1>
          My Skills:
        </h1>
        <p>
          <li>Fiction Writing</li>
          <div class="progress">
            <div class="progress-bar progress-bar-striped
                    progress-bar-animated" style="width:20%;">
                20%
            </div>
          </div>
        </p>
        <p>
          <li>English</li>
          <div class="progress">
            <div class="progress-bar progress-bar-striped
                    progress-bar-animated" style="width:10%;">
                  10%
            </div>
          </div>
        </p>
        <p>
          <li>Japanese</li>
          <div class="progress">
            <div class="progress-bar progress-bar-striped
                    progress-bar-animated" style="width:10%;">
                  10%
            </div>
          </div>
        </p>
        <p>
          <li>Indonesian</li>
          <div class="progress">
            <div class="progress-bar progress-bar-striped
                    progress-bar-animated" style="width:30%;">
                  30%
            </div>
          </div>
        </p>
        <p>
          <li>Python</li>
          <div class="progress">
            <div class="progress-bar progress-bar-striped
                    progress-bar-animated" style="width:5%;">
                  5%
            </div>
          </div>
        </p>
        <p>
          <li>Java</li>
          <div class="progress">
            <div class="progress-bar progress-bar-striped
                    progress-bar-animated" style="width:5%;">
                  5%
            </div>
          </div>
        </p>
        <p>
          <li>Adobe Photoshop</li>
          <div class="progress">
            <div class="progress-bar progress-bar-striped
                    progress-bar-animated" style="width:10%;">
                  10%
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
